@charset "utf-8";
/* CSS Document */

* {
  margin: 0;
  padding: 0;
}

body {
	background-image:url("images/bg.png");
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

#container {
	width: 960px;
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

#container img
{
    display:block;
    float:left;
    border:0;
}

a.glow, a.glow:hover, a.glow:focus
{
	text-decoration: none;
	font-weight:bold;
	color: #29cfe8;
	text-shadow: none;
	-webkit-transition: 400ms linear 0s;
	-moz-transition: 400ms linear 0s;
	-o-transition: 400ms linear 0s;
	transition: 400ms linear 0s;
	outline: 0 none;
	font-size:18px;
}

a.glow:hover, a.glow:focus
{
	font-weight:bold;
	color: #29cfe8;
	text-shadow: -0px 0px 10px #e629e8, 0px -0px 10px #e629e8;
}

.menu {
	width: 960px;
	height: 50px;
	float: left;
	color: #29cfe8;
	margin-left: 200px;
	margin-top: 20px;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display:inline;
}


.menu ul li {
	display: inline;
	margin-right: 20px;
	margin-left: 20px;
}

#form {
	width: 960px;
	height: 610px;
	float: left;
	padding-top: 10px;
	background-image:url(images/contentbg.png);
}
/*-----------------------------------------------------------------*/
/*form styling by Dan*/

table {
	width:750px;
	margin: 20px;
}

table tr {
	float: left;
}

table tr+tr {
	float: right;
}

.coloured {
	color: #29cfe8;
	font-size: 14px;
	font-weight: bold;
	margin: 20px 0 10px 0;
}

label {
	padding:5px;
	font-weight: bold;
	font-size: 14px;
	float:right;
}

input,textarea {
	width: 250px;
	background-color: #c9c9c9;
	border: 1px solid #fff;
	padding: 5px;
	color: #302E2E;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	background-color: #e629e8;
}

input:visited, textarea:visited {
	background-color: #999;
}

textarea {
	height: 180px;
}

.button {
	width: 90px;
cursor: pointer;
}

.yellow{
	background:#29cfe8;
}

.green{
	background:#29cfe8;
}
input:required:invalid, input:focus:invalid {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC');
	background-position: right top;
	background-repeat: no-repeat;
	-moz-box-shadow: none;
}
input:required:valid {
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=');
	background-position: right top;
	background-repeat: no-repeat;
}
/*-------------------------------------------------------*/
/*from jimmi, audio & ajax form */
/*audio*/
div.audioBox{
	position: absolute;
	right:0;
	width:124px;
}
div.audioBtn{
	float:left;
	width:20px;
	height:20px;
	margin:25px 5px 0 5px; 
	cursor: pointer;
}
div.audioBtn.play{
	background: url('images/audio/play.png') no-repeat;
}
div.audioBtn.pause{
	background: url('images/audio/pause.png') no-repeat;	
}
div.audioBtn.next{
	background: url('images/audio/next.png') no-repeat;
}
p.trackTitle{
	font-size: .6em;
	color:#a3a3a3;
}
/*ajax form*/
section.ajaxForm{
	position: absolute;
	top:50px;
	left:80px;
	width:800px!important;
	height:370px!important;
	background-image:none!important;
	background:rgba(50,50,50,0.8);
	transition: all 2s;
	-webkit-transition: all 2s; 
}
#closeBtn{
	float:right;
	padding-right:10px;
	color:#fff;
	cursor: pointer;
}
/*---------------------------------------------------*/
/**********Events Page**********/
.content{
	width: 960px;
	height: 610px;
	float:left;
	background-image:url(images/contentbg.png);
}
.content h1{
	padding-top:45px;
	padding-left:25px;
}
.content h2{
	padding-left:25px;
	padding-bottom: 10px;
	color:grey;
	font-size: 18px;
}
.eventBox{
	width:280px;
	float:left;
	padding:15px 100px 15px 100px;
}
.eventBox h2{
	color:white;
	margin-top: 210px;
	padding-left:0;
}
.eventBox ul{
	list-style: none;
}
.eventBox img{
	margin-left: -10px;
}
/**********whiskycoctails page**********/
.slide_nav{
	cursor: pointer;
	margin-right: 186px;

}
#slideshow{
	float:left;
	width: 300px;
	margin: 15px 0 0 25px;
}
#slideshow img{
	margin-bottom: 7px;
}
.event_desc{
	margin: 15px 25px 0 380px;
}
.event_desc h2{
	padding-left: 0;
}
.event_desc p{
	margin-bottom: 20px;
}